<%- include('partials/_header.ejs'); %>
<%- include('partials/_navigation.ejs'); %>   
	
<div class="all-title-box">
    <div class="container text-center">
        <h1>İletişim<span class="m_1">Sorularınız ve talepleriniz için bizimle iletişime geçin. Aşağıdaki formu doldurarak mesajınızı iletebilirsiniz.</span></h1>
    </div>
</div>
	
<div id="contact" class="section wb">
    <div class="container">
        <div class="section-title text-center">
            <h3>Yardıma mı ihtiyacınız var? Çevrimiçiyiz!</h3>
            <p class="lead">Size özel teklif hakkında daha fazla bilgi vermemizi ister misiniz? Lütfen aşağıdaki formu doldurun. <br>Milyonlarca web sitesi sahibi bizimle çalışmaktan mutluluk duyuyor!</p>
        </div><!-- end title -->

        <% if (flashMessages) { %>
            <% if (flashMessages.success) { %>
                <div class="alert alert-success">
                    <%= flashMessages.success %>
                </div>
            <% } else if (flashMessages.error) { %>
                <div class="alert alert-danger">
                    <%= flashMessages.error %>
                </div>
            <% } %>
        <% } %>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="contact_form">
                    <div id="message"></div>
                    <form id="contactform" action="/contact" name="contactform" method="post">
                        <div class="form-group">
                            <label for="first_name">Adınız</label>
                            <input type="text" name="name" id="first_name" class="form-control" placeholder="Adınız">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="comments">Mesajınız</label>
                            <textarea class="form-control" name="message" id="comments" rows="6" placeholder="Detayları bize verin.."></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="SEND" id="submit" class="btn btn-primary btn-block">GÖNDER</button>
                        </div>
                    </form>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<%- include('partials/_footer.ejs'); %>
